In [4]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-py2.py3-none-any.whl (342 kB)
     |████████████████████████████████| 342 kB 1.7 MB/s eta 0:00:01
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp39-cp39-macosx_10_9_x86_64.whl (961 kB)
     |████████████████████████████████| 961 kB 2.0 MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.19.4
Note: you may need to restart the kernel to use updated packages.

In [11]:
import mysql.connector

In [17]:
import mysql.connector
mydb = mysql.connector.connect(host = "localhost",user = "root",password = "@yami123")
print(mydb)
mycursor = mydb.cursor()
# mycursor.execute("create database ust")
dbs = mycursor.execute("show databases")
for i in mycursor:
    print(i)

<mysql.connector.connection.MySQLConnection object at 0x7fd3e174beb0>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('ust',)

In [11]:

import pyodbcconn = pyodbc.connect("Driver={SQL Server};"               
               "Server=your_server_name;"
               "Database=database_name;"
               "username=user_name;"
               "password=your_password;"
               "Trusted_Connection = no;")
cursor=conn.cursor()
cursor.execute('SELECT * FROM table_name')

for i in cursor:
    print(i)

SyntaxError: invalid syntax (2305080872.py, line 1)

In [14]:
import pyodbc 

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=ust;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM ust')

for i in cursor:
    print(i)

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'SQL Server' : file not found (0) (SQLDriverConnect)")

In [21]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE userlist (name VARCHAR(255), address VARCHAR(255))")

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('userlist',)

In [23]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM userlist")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [24]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

sql = "INSERT INTO userlist (name, address) VALUES (%s, %s)"
val = ("yamini", "kk tn ")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [25]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM userlist")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('yamini', 'kk tn ')

In [29]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

sql = "INSERT INTO userlist (name, address) VALUES (%s, %s)"

val = [("yami", "bangalore"),('azh', 'chennai'),('ani', 'bangalore'),('sri', 'chennai'),('azma', 'kk'),('Benny', 'tn'),('cook', 'china'),]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

7 record inserted.

In [30]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM userlist")

myresult = mycursor.fetchall()

for i in myresult:
  print(i)

('yamini', 'kk tn ')
('yami', 'bangalore')
('azh', 'chennai')
('ani', 'bangalore')
('sri', 'chennai')
('azma', 'kk')
('Benny', 'tn')
('cook', 'china')

In [31]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM userlist ORDER BY name")

myresult = mycursor.fetchall()

for i in myresult:
  print(i)

('ani', 'bangalore')
('azh', 'chennai')
('azma', 'kk')
('Benny', 'tn')
('cook', 'china')
('sri', 'chennai')
('yami', 'bangalore')
('yamini', 'kk tn ')

In [32]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM userlist ORDER BY name DESC")

myresult = mycursor.fetchall()

for i in myresult:
  print(i)

('yamini', 'kk tn ')
('yami', 'bangalore')
('sri', 'chennai')
('cook', 'china')
('Benny', 'tn')
('azma', 'kk')
('azh', 'chennai')
('ani', 'bangalore')

In [34]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@yami123",
  database="ust"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM userlist WHERE address = 'chennai'")

myresult = mycursor.fetchall()

for i in myresult:
  print(i)

('azh', 'chennai')
('sri', 'chennai')