In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
keyword.iskeyword('try')

True

In [5]:
keyword.iskeyword('Yamini')

False

In [6]:
name = 'Yamini'
my_identifier = name

In [7]:
#this is a comment

In [8]:
a = 4
print(a)

4

In [12]:
a = 44
def function():
    global a
    a += 10
    print(a)
print(a)
function()

44
54

In [14]:
#list
myList = ["csk", "mi", "rcb", "mi", "rcb"]
print(myList)

['csk', 'mi', 'rcb', 'mi', 'rcb']

In [18]:
#len(myList)
print(len(myList))

5

In [20]:
list1 = ["tn", "kl", "ka","ap"]
list2 = [1, 2, 3, 4, 5]
list3 = [True, False]
print(list1, list2, list3)

['tn', 'kl', 'ka', 'ap'] [1, 2, 3, 4, 5] [True, False]

In [21]:
lista = ["tn", "kl", "ka","ap",1, 2, 3, 4, 5, "Male", "FEmale" ]
print(lista)

['tn', 'kl', 'ka', 'ap', 1, 2, 3, 4, 5, 'Male', 'FEmale']

In [22]:
#tuple

tuple1 = ("ind", "aust", "eng")
print(tuple1)

('ind', 'aust', 'eng')

In [27]:
tuple2 = ["csk", "mi", "rcb", "mi", "rcb"]
print(tuple2)

['csk', 'mi', 'rcb', 'mi', 'rcb']

In [28]:
tuple2 = ("csk", "mi", "rcb", "mi", "rcb")
print(tuple2)

('csk', 'mi', 'rcb', 'mi', 'rcb')

In [29]:
print(len(tuple2))

5

In [30]:
#set

set1 = {"csk", "mi", "rcb", "mi", "rcb"}    #duplicates are not allowed & unordered
print(set1)

{'mi', 'csk', 'rcb'}

In [31]:
set1 = {"csk", "mi", "rcb", "mi", "rcb", 1, 2, 3, 4, 5, "Male", "FEmale"}    #support diff datatypes
print(set1)

{1, 2, 3, 4, 5, 'FEmale', 'mi', 'csk', 'Male', 'rcb'}

In [33]:
list("YAMINI")

['Y', 'A', 'M', 'I', 'N', 'I']

In [32]:
#LIST

a = [1, 2, 3, 4]
a.append(5)
print(a)

[1, 2, 3, 4, 5]

In [34]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [36]:
c.extend([7,8,9])
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
c.reverse()
print(c)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
c.sort()
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [151]:
c = [1, 2, 3, 4]
d = c*4
print(d)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [150]:
#TUPLE

t = ("apps", 2.2, 4)
t + (34, 66)
print(t)

('apps', 2.2, 4)

In [55]:
t * 2
print(t)

('apps', 2.2, 4)

In [58]:
t = ((3,2), (2.2,5),(5,2),(6,7))
t[2][1]

2

In [45]:
a = (4,3,2)
b = (1, 2, 4)
a, b = b, a
print(a)
print(b)

(1, 2, 4)
(4, 3, 2)

In [46]:
5 in a

False

In [47]:
3 in  b

True

In [49]:
# SET

a = {21, 31}
a.add(41)
print(a)

{41, 21, 31}

In [50]:
a.update([44, 35, 65])
print(a)

{65, 35, 41, 44, 21, 31}

In [152]:
a.remove(44)
print(a)

AttributeError: 'int' object has no attribute 'remove'

In [153]:
#STRING

str1 = "{1} {2} {0}".format('welcome','to', 'ust')
print("nPositional Order:")
print(str1)

nPositional Order:
to ust welcome

In [62]:
a = 10
b = float(a)
print(b)

10.0

In [65]:
a = [1, 2, 3, 4, 7, 5]
a.remove(7)
print(a)

[1, 2, 3, 4, 5]

In [73]:
#REMOVE DUPLICATES FROM LIST

list1 = ['x','y', 'z', 'u', 'v','u', 'y', 'x']
print(list1)
list2 = list(dict.fromkeys(list1))

print(list2)

['x', 'y', 'z', 'u', 'v', 'u', 'y', 'x']
['x', 'y', 'z', 'u', 'v']

In [74]:
#printing a range  

myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
print(myList[2:5])

['mi', 'srh', 'kkr']

In [75]:

#Negative indexing

myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
print(myList[-1])                                  # prints last item of list

rr

In [76]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
print(myList[:3])

['csk', 'rcb', 'mi']

In [77]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
print(myList[2:])

['mi', 'srh', 'kkr', 'rr']

In [78]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
print(myList[-4: -1])

['mi', 'srh', 'kkr']

In [79]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
if "csk" in myList:
    print("CSK  is in myLIST")

CSK  is in myLIST

In [80]:
#replace an item

myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList[2] = "india"
print(myList)

['csk', 'rcb', 'india', 'srh', 'kkr', 'rr']

In [83]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList[1: 4] = ["india", "delhi"]
print(myList)

['csk', 'india', 'delhi', 'kkr', 'rr']

In [84]:
# insert new item without replacing existing values at a specific index

myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.insert(2, "india")
print(myList)

['csk', 'rcb', 'india', 'mi', 'srh', 'kkr', 'rr']

In [85]:
# insert at the end of the list

myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.append("india")
print(myList)

['csk', 'rcb', 'mi', 'srh', 'kkr', 'rr', 'india']

In [86]:
#join the lists

myList = ["python", "java", "php", ]
mylist2 = ["C", "c++", ".net"]
myList.extend(mylist2)
print(myList)

['python', 'java', 'php', 'C', 'c++', '.net']

In [88]:
#remove an item

myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.remove("mi")
print(myList)

['csk', 'rcb', 'srh', 'kkr', 'rr']

In [90]:
#remove an item

myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.pop(2,)
print(myList)

['csk', 'rcb', 'srh', 'kkr', 'rr']

In [91]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.pop()
print(myList)

['csk', 'rcb', 'mi', 'srh', 'kkr']

In [92]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
del myList()
print(myList)

SyntaxError: cannot delete function call (1760557977.py, line 2)

In [93]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.clear()
print(myList)

[]

In [95]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
for x in myList:
    print(x)

csk
rcb
mi
srh
kkr
rr

In [96]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
for x in range(len(myList)):
    print(myList[x])

csk
rcb
mi
srh
kkr
rr

In [97]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
i = 0
while i < len(myList):
    print(myList[i])
    i = i+1

csk
rcb
mi
srh
kkr
rr

In [98]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.sort()
print(myList)

['csk', 'kkr', 'mi', 'rcb', 'rr', 'srh']

In [99]:
myList = ["csk", "rcb", "mi", "srh", "kkr", "rr"]
myList.sort(reverse = True)
print(myList)

['srh', 'rr', 'rcb', 'mi', 'kkr', 'csk']

In [101]:
numList = [45,72,22,15,36]
numList.sort(reverse = True)
print(numList)

[72, 45, 36, 22, 15]

In [104]:
#Upper case first

alist = ["chennai", "bangalore", "Hyderabad", "Tvm", "delhi"]
alist.sort()
print(alist)

['Hyderabad', 'Tvm', 'bangalore', 'chennai', 'delhi']

In [105]:
#lower case first 

alist = ["chennai", "bangalore", "Hyderabad", "Tvm", "delhi"]
alist.sort(key = str.lower)
print(alist)

['bangalore', 'chennai', 'delhi', 'Hyderabad', 'Tvm']

In [108]:
alist = ["chennai", "bangalore", "Hyderabad", "Tvm", "delhi"]
alist.reverse()
print(alist)

['delhi', 'Tvm', 'Hyderabad', 'bangalore', 'chennai']

In [109]:
# Copy a list to another list

alist = ["chennai", "bangalore", "Hyderabad", "Tvm", "delhi"]
blist = list(alist)
print(blist)

['chennai', 'bangalore', 'Hyderabad', 'Tvm', 'delhi']

In [111]:
#TUPLES

mytuple = ("sandee", "umra", "jefry", "anil", "gowsya")
print(mytuple)
print(len(mytuple))

('sandee', 'umra', 'jefry', 'anil', 'gowsya')
5

In [112]:


mytuple = ("sandee", "umra", "jefry", "anil", "gowsya")
mytuple = list(mytuple)
print(mytuple)

['sandee', 'umra', 'jefry', 'anil', 'gowsya']

In [113]:
x = ("sandee", "umra", "jefry", "anil", "gowsya")
y = list(x)
print(y)

['sandee', 'umra', 'jefry', 'anil', 'gowsya']

In [119]:
x =tuple(y)
print(x)

('sandee', 'umra', 'jefry', 'anil', 'gowsya')

In [120]:
#SETS

myset = {"sandee", "umra", "jefry", "anil", "gowsya", "umra"}
print(myset)

{'anil', 'gowsya', 'sandee', 'jefry', 'umra'}

In [123]:
myset = {"sandee", "umra", "jefry", "anil", "gowsya", 2.3}
print(myset)

{'anil', 2.3, 'gowsya', 'sandee', 'jefry', 'umra'}

In [124]:
#DICTIONARY

mydict = {
    "brand" : "maruti", 
    "model" : "swift",
    "year" : 1984
         }
print(mydict)

{'brand': 'maruti', 'model': 'swift', 'year': 1984}

In [125]:
print(mydict["year"])

1984

In [128]:
mydict = {
    "brand" : "maruti", 
    "model" : "swift",
    "year" : 1984,
    "year" : 1998
         }
print(mydict)

{'brand': 'maruti', 'model': 'swift', 'year': 1998}

In [129]:

#to get only the keys

print(mydict.keys())

dict_keys(['brand', 'model', 'year'])

In [131]:
#to get only the values

print(mydict.values())

dict_values(['maruti', 'swift', 1998])

In [132]:
#Update a value

mydict = {
    "brand" : "maruti", 
    "model" : "swift",
    "year" : 1984,
    "year" : 1998
         }
mydict["model"] = "celerio"
print(mydict)

{'brand': 'maruti', 'model': 'celerio', 'year': 1998}

In [134]:
a ="""dsdfdfdnbnbnnbnbnbnbnsdjsherweruwhdbfbcdsnbcnmx"""
print(a)

dsdfdfdnbnbnnbnbnbnbnsdjsherweruwhdbfbcdsnbcnmx

In [136]:
a = "Hello, World"
print(a[2:5])

llo

In [137]:
a = "Hello, World"
print(a[5:])          #after the index

, World

In [139]:
a = "Hello, World"
print(a.upper())

HELLO, WORLD

In [140]:
a = "Hello, World"
print(a.lower())

hello, world

In [141]:
a = "Hello, World"
print(a.replace("H", "k"))

kello, World

In [143]:
a = "hello "
b = "world"
c = a + b
print(c)

hello world

In [155]:
a = 210
b = 44
if b > a:
    print("b is greater that a")

In [158]:
a = 21
b = 21
if b > a:
    print("b is greater that a")
elif a == b:
    print ("a is eaual to b")

a is eaual to b

In [159]:
a = 210
b = 21
if b > a:
    print("b is greater that a")
elif a == b:
    print ("a is eaual to b")
else:
    print(" a is greater")

 a is greater

In [160]:
#NESTED IF

x = 43
if x > 10:
    print("above 10")
    if x > 20:
        print("above 20")
    else:
        print("not above20")

above 10
above 20

In [161]:
#WHILE 

color = ["black", "red", "yellow", "green"]
fruits = ["apple", "banana", "grape"]
for x in color:
    for y in fruits:
        print(x, y)

black apple
black banana
black grape
red apple
red banana
red grape
yellow apple
yellow banana
yellow grape
green apple
green banana
green grape